@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 8px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

.header,
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
  flex: none;
}

ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  gap: 20px;
}

a {
  text-decoration: none;
  color: black;
}

.content {
  width: fit-content;
  margin: 0 auto;
  flex: auto;
  align-content: center;
  text-align: center;
}

.buttons {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  gap: 5px;
}

.footer {
  background-color: #eeeeee;
}
